# Server
PORT=3000
NODE_ENV=production


# Database & Cache
MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/kasapp
REDIS_URL=redis://default:<password>@redis-host:6379


# Kaspa Network
KASPA_NETWORK=mainnet
KASPA_PRIORITY_FEE_SOMPI=10000


# Core Security
ENCRYPTION_KEY=your_32_byte_aes_256_key_here
ADMIN_API_KEY=your_admin_api_key_here
MERCHANT_API_KEY=your_merchant_api_key_here
ARGENT_MASTER_PIN=1234


# Operator Wallet
OPERATOR_WALLET_ADDRESS=kaspa:your_operator_wallet_address
OPERATOR_WALLET_MNEMONIC=your_12_word_operator_seed_phrase
# Or if you prefer to store it encrypted:
# OPERATOR_ENCRYPTED_MNEMONIC=iv:tag:hex


# Meta WhatsApp
WHATSAPP_VERIFY_TOKEN=your_verify_token
WHATSAPP_APP_SECRET=your_app_secret
WHATSAPP_BOT_NUMBER=your_bot_phone_number
ADMIN_PHONE=+234...


# 3rd Party APIs
VTPASS_BASE_URL=https://live.vtpass.com/api
FLUTTERWAVE_SECRET_KEY=FLWSECK_TEST-your-key-here
PAYSTACK_SECRET_KEY=sk_test_your_key_here


